# comment
# old
/videos

/lecs/*
sol


# tg_bot-ignore
*/db
tg_bot/client_secret.json
tg_bot/sheets.googleapis.com-python.json
tg_bot/__pycache__/users_data.cpython-38.pyc

# contest-ignore
s.cpp
testlib.h
naive.cpp
tester_gen.cpp
test.txt

tg_bot/token.py
tg_bot/secret
tg_bot/geckodriver.log
tg_bot/__pycache__
