# comment
20122013-tryenirovka-spbgu-s-3-yazyk-c-ru.pdf
# TODO.*
/videos

/lecs/*
sol

*/db
tg_bot/client_secret.json
tg_bot/sheets.googleapis.com-python.json
tg_bot/__pycache__/users_data.cpython-38.pyc
